@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: solid 1px;
}

a:hover {
  opacity: 0.5;
  border: none;
}
